// Set your colors
$primary: #26D17F;
$primary-invert: findColorInvert($primary);
$secondary: #2BBAAC;
$secondary-invert: findColorInvert($secondary);
$tertiary: #26A4D1;
$tertiary-invert: findColorInvert($tertiary);
$twitter: #26A4D1;
$twitter-invert: findColorInvert($twitter);
